# Ignore
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
*.Rproj
.remake/
*.feather
*.RData
*.Rdata
*.csv
*.shp
*.Feather
*.dbf
*.prj
*.shp
*.shx
*.xml
# Allow
!*/out/placeholder.txt
tasks_*.yml
